table {
border-collapse: collapse; /* fjerner mellomrom mellom rader/kolonner */
border-style: solid;
border-color: #2b2b2b;
}

th {
background-color: #a2ab58;
border: 1px #000000; 
padding: 5px;
}

td {
background-color: #e9e581;
border 1px #000000; 
padding: 5px; 
}

a {
  color: #dd0000;
  font-weight: bold;
}

a:hover {
  color: #880000;
}
  
